Holger Marschall <holgermarschall@yahoo.de> hmarschall
Holger Marschall <holgermarschall@yahoo.de> <holger.marschall@tu-darmstadt.de>
Constantin Habes <constantin.habes@stud.tu-darmstadt.de> Habes, Constantin
Lucas Huefner <lucas.huefner@tu-darmstadt.de> lucashuefner
Philip Cardiff <philip.cardiff@ucd.ie> <philip.cardiff@gmail.com> 
Philip Cardiff <philip.cardiff@ucd.ie> <philipcardiff@gmail.com>
